
*{
    box-sizing: border-box;
    border:0;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
}

/* Start Header */
.header{
    display: flex;
    justify-content: space-between;
    background-color: #07528D;
}
.header__img--img{
    width:100px;
}
.header__nav{
    display: flex;
    align-self:center; 
    margin-right: 10%;
}

.header__nav--li{
    list-style: none;
    padding:5px;
    margin-left:20px;
    display:flex;
    align-items: center;
    margin-right: 20px;
    
}
.header__nav--li a{
    text-decoration: none;
    color: white;
}
/* clic hoja de vida */
.header__nav--li a:hover{
    color: rgb(43, 53, 40);
}

/* End Header */

/* Start Main */
/* contenedor Hola */

/* parrafo hola! */

.main__parrafo{
    padding-top: 125px;
    color:white;
    font-size: 25px;
    background-color:#07528D;
    height: 400px;
    display: flex;
    
}
.main__parrafo h1{
    margin-left: 100px;
}
/* Quien soy? */
.main__about--container{
    font-size:16px;
    border: 1px solid #d8f3dc;
    width: 600px;
    padding: 10px;
    height: 200px;
    background-color: #d8f3dc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top-left-radius:15px; 
}
.main__about__container{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    height: 300px;
}
/* contenedor Potafolio */
.experiencia{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}
.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px; 
    display: flex;
    justify-content: space-around;
    background-color: #0077b6;
    height: 500px;
    align-items: center;
}
.carousel-item {
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
  .carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
  }
  .carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  .carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }
  .carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }
  .carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

/* End Portafolio */

.conocimientos{
 height: 500px;
 display: flex;
 flex-direction: column;
 justify-content:center
}
.conociminetos__h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-bottom: 75px;
}
.conocimientos h2{
    border-top: 5px solid white;
    border-right: 5px solid white;
    padding-right: 5px;
}

.conocimientos__img img{
    width: 150px;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.conocimientos__img{
    display: flex;
    flex-wrap: nowrap;
}
.conocimientos__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End main */

/* Start footer */
footer{
    display: flex;
    justify-content:space-between;
    height: 200px;
    align-items: flex-end;
    background-color: #caf0f8;
}
.footer__redes a img{
    width:30px;
    margin-right: 10px;
}
.footer__derechos{
    display: flex;
}



